<% if @list.image.attached? %>
  <div class="banner banner-img" style="background-image: url('<%= cl_image_path @list.image.key %>')">
<% else %>
  <div class="banner banner-img" style="background-image: url(https://images.unsplash.com/photo-1454789548928-9efd52dc4031?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);>
<% end %>
  <div class="container-banner d-flex flex-column align-items-center justify-content-center h-100">
    <h1 class="text-center pb-3">LETTERBOX ON A BUDGET</h1>
    <h3 class="text-center">Add a movie</h3>
  </div>
</div>

<div class="container p-5">

  <%= simple_form_for(@list) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="form-inputs">
        <%= f.input :name, label: "Name of the list", placeholder: "Thrillers..." %>
        <%= f.input :image, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
